.cart-container {

    .cart-title {
        font-size: 40px;
        margin-bottom: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .cart-grid {
        display: grid;
        grid-template-columns: 55% 45%;
        gap: 20px;
        align-items: start;

        .woocommerce-cart-form {
        
            .cart-item-list {
                display: flex;
                flex-direction: column;
                gap: 20px;
                border: 1px solid var(--border);
                border-radius: 20px;
                padding: 20px;

                .cart-item {
                    display: flex;
                    gap: 20px;
                    border-bottom: 1px solid var(--border);
                    padding: 20px 0;
                    position: relative;

                    .cart-img {
                        width: 20%;

                        img {
                            width: 100px;
                            height: auto;
                            border-radius: 10px;
                        }
                    }

                    .cart-info {
                        width: 80%;

                        h3 {
                            font-size: 20px;
                        }

                        .cart-variation {
                            font-size: 14px;
                            color: var(--font-color-lighter);
                            margin: 15px 0 20px 0;

                            .variation {
                                display: grid;
                                grid-template-columns: 50px auto;
                            }
                        }

                        .cart-bottom {
                            margin-top: auto;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .cart-price {
                                font-weight: bold;
                                font-size: 24px;
                            }
                        }

                        .cart-remove {
                            color: var(--discount);
                            position: absolute;
                            top: 0;
                            right: 0;

                            svg {
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }

        .cart_totals {
            border: 1px solid var(--border);
            border-radius: 20px;
            padding: 20px;
            align-self: start;

            h3 {
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 24px;
            }

            .shop_table {
                border: none;

                .cart-subtotal,
                .shipping,
                .order-total,
                .cart-discount {
                    th {
                        color: var(--font-color-lighter);
                        font-weight: 400;
                    }
                }
            }

            .cart-discount {

                td {
                    position: relative;
                    font-weight: 500;
                    color: var(--discount);

                    .woocommerce-remove-coupon {
                        display: inline-block;
                        margin-left: 10px;
                        font-size: 0;
                        text-decoration: none !important;
                        vertical-align: middle;

                        &::before {
                            content: '✕';
                            font-size: 16px;
                            color: #999;
                            font-weight: bold;
                            transition: .3s;
                        }

                        &:hover::before {
                            color: #000;
                        }
                    }
                }
            }

            .wc-proceed-to-checkout {

                .checkout-button {
                    font-weight: 400;
                    width: 100%;
                }

                .checkout-button:hover {
                    background-color: var(--bg-color);
                    color: var(--font-color-main);
                    border: 1px solid var(--font-color-main);
                }

            }
        }

        .cart-coupon {
            width: 100%;

            .btn {
                margin-top: 0;
                margin-left: 24px;
            }
        }
    }
}

.cart-quantity {
    display: flex;
    align-items: center;
    background: var(--secondary);
    border-radius: 62px;
    padding: 8px 16px;
    gap: 16px;

    input {
        width: 30px;
        font-size: 16px;
        text-align: center;
        border: none;
        background: transparent;
        text-align: center;
    }

    button {
        border: none;
        background: none;
        font-size: 22px;
        line-height: 1;
        cursor: pointer;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.shipping-calculator-button {
    text-decoration: underline;
    color: var(--main);
}